---
layout: default
title: BlueBag &gt; Our Team
section_id: about-the-team

members:
  - image: niels_larson.jpg
    name: Niels<br> Larson
    position: Founder, CEO
    desc:
      Niels is a Junior at Carnegie Mellon and is pursuing a B.S. in Business Administration with tracks in Entrepreneurship, Operations Management, and Accounting with a minor in cello performance. As founder at CEO, Niels works closely with ll aspects of the team, utilizing his financial and operational acumen to create a system that runs smoothly from start to finish, creating the cheapest and healthiest option for Blue Bag.
  - image: lillian_lee.jpg
    name: Lillian<br> Lee
    position: Co-Founder
    desc: 
      Team Member
  - image: colin_mccullough.jpg
    name: Colin McCullough
    position: Buisness
    desc:
      Colin is a Senior at Carnegie Mellon pursuing a B.S. in Business Administration on the Entrepreneurship track with a minor in global systems management. He is from Orlando, FL and will be enrolling in Law School at Santa Clara University after graduation. In his free time, he enjoys playing golf.
  - image: stephanie_l-01.jpg
    name: Stephanie Lemineux
    position: Buisness
    desc:
      Stephanie is a Junior at Carnegie Mellon pursuing a B.S. in Business Administration with a track in entrepreneurship and a minor in psychology. Stephanie's role focuses on customer research including acquiring beta testers, conducting interviews with potentail customers, and processing feedback. 
  - image: rebecca_alford.jpg
    name: Rebecca Alford
    position: Software Engineer
    desc:
      Rebecca is a Senior at Carnegie Mellon pursuing a B.S. in Computational Chemistry with a focus in software engineering. She created the Blue Bag website and supports the data analytics side of Blue Bag so we can learn and adapt to our customers needs.
  - image: justin_finkenaur.jpg
    name: Justin Finkenaur
    position: Designer
    desc:
      Justin is a Junior at Carnegie Mellon University pursuing a B.F.A in Industrial Design. He worked on all of the visual details of Blue Bag including the website, branding, and packaging. 
---

<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-users'></i>
        <h2>Who We Are</h2>
        <p>Learn about our team</p>
      </div>
    </div>
  </div>
</div>

<div class='full white no-padding'>
  <div class='row'>
    <div class='medium-12 large-12 columns'>
      <div class="spacing"></div>
      <p>
        <b>Our mission</b> is to feed and educate undergraduate students with a cheaper and healthier alternative to any campus meal plan. To accomplish our goal, we deliver fresh ingredients with simple, easy-to-follow recipes so students can learn to cook in their own kitchens without too much time and great hassle. We have assembled a diverse team to carry out our mission, all Carnegie Mellon students with various expertise. Read about them below!</p>
    </div>
  </div>
  <div class='members'>
    <div class='full white no-padding'>
      <div class="spacing"></div>
      <div class='row'>
        {% for member in page.members %}
          {% if forloop.first %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
          <div class='medium-2 large-2 columns'>
            <div class='member centered-text {{active_class}}' data-target='#member-{{forloop.index}}'>
              <img src='{{site.url}}/images/{{member.image}}'>
              <h3>{{member.name}}</h3>
              <p class='position'>{{member.position}}</p>
              <p class='active-line'></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class='full white'>
      <div class='row'>
        {% for member in page.members %}
          {% if forloop.first %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
          <div class='member-intro {{active_class}}' id='member-{{forloop.index}}'>
            <div class='medium-12 large- columns'>
              <p>{{member.desc}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class='testimonials full light centered-text bg-6'>
  <div class='row'>
    <div class='special-title'>
      <h2 class='light'></h2>
    </div>
    <div class='two spacing'></div>
  </div>
  <div class='row'>
    <div class='two spacing'></div>
    <div class='two spacing'></div>
    <div class='two spacing'></div>
    <div class='two spacing'></div>
    <div class='two spacing'></div>
  </div>
</div>

