---
layout: default
title: BlueBag &gt; Menus
section_id: menus

meals:
  - image: breakfast_main.jpg
    name: Breakfast
    desc:
      <h4>Egg in a cup <br>
      Eggs with ham, cheese and spinach <br>
      Oatmeal fruit bowl <br></h4>
  - image: lunch_main.jpg
    name: Lunch
    desc:
      <h4>Shrimp Salad with tomatoes<br>
      Grilled Cheese with Ham and Jam<br>
      Fancy PB&J<br></h4>
  - image: dinner_main.jpg
    name: Dinner
    desc:
      <h4>Beef Mac & Cheese with Vegetables<br>
      Sphagetti with Meatballs<br>
      Miso Salmon<br>
      Coconut chicken curry<br>
      Sphagetti Carbonara<br>
      Beef Lo Mein<br></h4>
---

<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='fa fa-check-circle'></i>
        <h2>Menus</h2>
        <p>Check out our wide selection of meals by clicking on the images below</p>
      </div>
    </div>
  </div>
</div>

<div class='members'>
	<div class='full white no-padding'>
		<div class='row'>
			{% for meal in page.meals %}
				{% if forloop.first %}
					{% assign active_class = "active" %}
				{% else %}
					{% assign active_class = "" %}
				{% endif %}
			<div class='medium-4 large-4 columns'>
			<div class='member centered-text {{active_class}}' data-target='#meal-{{forloop.index}}'>
		  		<img src='{{site.url}}/images/{{meal.image}}'>
		  		<h3>{{meal.name}}</h3>
		  		<div class="spacing"></div>
		  		<p class='active-line'></p>
			</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class='full white'>
		<div class='row'>
			{% for meal in page.meals %}
				{% if forloop.first %}
					{% assign active_class = "active" %}
				{% else %}
					{% assign active_class = "" %}
				{% endif %}
				<div class='member-intro {{active_class}}' id='meal-{{forloop.index}}'>
				<div class='medium-12 large- columns'>
		 			 <p>{{meal.desc}}</p>
				</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
