<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>Have questions about Blue bag? Send us a message and a member of our team will get back to you shortly.</p>
      </div>
    </div>
  </div>
</div>

<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <form id="bluebag-contact" action="https://formspree.io/rfalford12@gmail.com" method="POST">
      <div class='medium-6 large-6 columns'>
        <input placeholder='NAME' name = "name" type='text'>
        <input placeholder='EMAIL' name = "email" type='text'>
        <input placeholder='SUBJECT' name = "subject" type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='COMMENTS' name = "comments"></textarea>
        <input class='button white' type='submit' value="Send">
      </div>
      </form>
    </div>
  </div>
</div>